/* GENERAL STYLES */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700!Exo:100,200,300,400,500,600,700');

.index-body {
    height: 100vh;
    background: url("../images/background.JPG") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.band-body {
    height: 100vh;
    background-color: #1f2a38;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* NAVBAR HOME */

.navbar {
    background-color: transparent;
    min-height: 50px;
    border: none;
}

.navbar .navbar-header .navbar-brand {
    padding-top: 35px;
}

.navbar .navbar-header a {
    text-transform: uppercase;
    font-size: 25px;
    font-family: "Exo", sans-serif;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.65);
    border: none;
}

.navbar .navbar-header a:hover {
    color: #ffffff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbar .navbar-header .active-page {
    color: #ffffff;
}

/* NAVBAR OTHER OPTIONS */

.navbar .navbar-nav {
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 25px;
    font-family: "Exo", sans-serif;
    font-weight: 600;
}

.navbar .navbar-nav a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: rgba(255, 255, 255, 0.65);
}

.navbar .navbar-nav li a:hover {
    color: #ffffff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbar .navbar-nav .active-page {
    color: #ffffff;
}

/* NAVBAR TOOGLE BUTTON */

.navbar-default .navbar-toggle {
    border: 0;
}
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}


/* NAVBAR SOCIAL MEDIA */

.social-media {
    text-align: right;
    padding-top: 20px;
    padding-right: 30px;
}

.social-media i {
    font-size: 25px;
    color: #ffffff;
}


/*----MAIN SECTION BAND STYLES----*/

.main-section {
    position: relative;
    top: 80px;
    padding-right: 30px;
    padding-left: 30px;
}
    
.band-history img {
    height : 215px; 
    width: 450px;
}

.band-history figure {
    margin: 10px;
}

.band-history figcaption {
    font-family: "Exo", sans-serif;
    font-size: 10px;
    font-weight: 100;
    color: #ffffff;
}

.band-history p {
    font-family: "Exo", sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: #ffffff;
    padding-left: 10px;
}

.picture {
    height: 255px;
    width: 32.5%;
    padding-top: 5px;
    padding-bottom: 5px;
}


/*----MAIN SECTION MEDIA STYLES----*/

/*----MAIN SECTION EVENTS STYLES----*/

.events-main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.events-main p {
    font-family: "Exo", sans-serif;
    font-weight: 200;
    margin-top: 25px;
    margin-bottom: 20px;
    color: #ffffff;
}

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #ffffff;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #4575c1;
    color: #fafafa;
}


/*----FOOTER STYLES----*/

.main-footer {
    background-color: transparent;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    
}

h3, h4 {
    font-family: "Exo", sans-serif;
    color: rgba(255, 255, 255, .5);
    font-size: 15px;
}

.footer-social-media i {
    font-size: 15px;
    color: #4575c1;
}
