/* GENERAL STYLES */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700!Exo:100,200,300,400,500,600,700');

.index-body {
    height: 100vh;
    background: url("../images/the_doors_main_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.band-body {
    height: 100vh;
    background-color: #000000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

/* NAVBAR GENERAL */

.navbar {
    background-color: transparent;
    min-height: 50px;
    border: none;
}

.navbar img {
    padding-left: 15px;
}

/* NAVBAR OPTIONS */

.navbar .navbar-nav {
    text-transform: uppercase;
    padding-top: 40px;
    padding-right: 40px;
    font-size: 35px;
    font-family: "Exo", sans-serif;
    font-weight: 600;
}

.navbar .navbar-nav a {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    color: rgba(255, 255, 255, 0.65);
}

.navbar .navbar-nav li a:hover {
    color: #ffffff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbar .navbar-nav .active-page {
    color: #ffffff;
}

/* NAVBAR TOOGLE BUTTON */

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}


/*----MAIN SECTION BAND STYLES----*/

.main-section {
    position: relative;
    top: 30px;
    padding-right: 20px;
    padding-left: 20px;
}

.band-history {
    margin-left: 10px;
    margin-right: 10px;
}

.main-section .band-history h1 {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #ffffff;
    padding-bottom: 20px;
    text-transform: uppercase;
    text-decoration: underline;
}
    
.band-history img {
    height : 215px; 
    width: 450px;
}

.band-history figure {
    margin: 10px;
}

.band-history figcaption {
    font-family: "Exo", sans-serif;
    font-size: 10px;
    font-weight: 100;
    color: #ffffff;
}

.band-history p {
    font-family: "Exo", sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: #ffffff;
    text-align: justify;
}

.band-images {
    margin-left: 10px;
    margin-right: 10px;
    
}

.picture {
    height: 300px;
    width: 410px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.picture img {
    width: 100%;
    height: 100%;
}


/*----MAIN SECTION MEDIA STYLES----*/

.audio-section {
    margin-left: 10px;
    margin-right: 10px;
}

.audio-section img {
    height: 300px;
    width: 300px;
    padding: 10px;
}

.audio-section .album-details {
    text-align: center;
}

.main-section h1 {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #ffffff;
    padding-bottom: 20px;
    text-transform: uppercase;
    text-decoration: underline;
}

.main-section h3 {
    font-family: "Exo", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
}


.main-section h4 {
    font-family: "Exo", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    padding-top: 15px;
    text-align: center;
}

.main-section h5 {
    font-family: "Exo", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    padding-top: 15px;
    text-align: justify;
}

.main-section .audio-section ul li {
    font-family: "Exo", sans-serif;
    font-size: 12px;
    font-weight: 100;
    color: #ffffff;
}

.embed-responsive iframe {
    padding-top: 15px;
    padding-bottom: 25px;
}


/*----MAIN SECTION EVENTS STYLES----*/

/*.events-main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/

.events-main h1 {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #ffffff;
    padding-bottom: 20px;
    text-transform: uppercase;
    text-decoration: underline;
}

.events-main p {
    font-family: "Exo", sans-serif;
    font-weight: 200;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 20px;
    color: #ffffff;
}

.events-main .events-list li {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ffffff;
    border :solid 5px #ffffff;
} 

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #ffffff;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #4575c1;
    color: #fafafa;
}


/*----FOOTER STYLES----*/

.main-footer {
    background-color: transparent;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.main-footer h3, h4 {
    font-family: "Exo", sans-serif;
    color: #ffffff;
    font-size: 20px;
}

.footer-social-media  i {
    font-size: 20px;
    color: #ffffff;
}

.secondary-footer {
    background-color: transparent;
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 35px;
}

.secondary-footer h3, h4 {
    font-family: "Exo", sans-serif;
    color: #ffffff;
    font-size: 20px;
}